


.container{
    height: 100vh;
    box-sizing: border-box;
}
.box{
    position: relative;
}

button{
    display: block;
    height: 10vh;
    width: 50vw;
    margin:0 auto;

}


.message{
    background-color: rgb(110, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color:rgb(131, 172, 185);

}